

    <form [formGroup]="drzaveNovaForma" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="naziv">
        <p>{{ drzaveNovaForma.value | json }}</p>
        <button class="btn btn-primary">Pretrazi</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Glavni grad</th>
                <th>Broj stanovnika</th>
                <th>Regija</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let drzava of drzave">
                <td>{{ drzava.name }}</td>
                <td>{{ drzava.capital }}</td>
                <td>{{ drzava.population | number }}</td>
                <td>{{ drzava.region }}</td>
            </tr>
        </tbody>
    </table>