<!-- <a [routerLink]="''">Pocetna</a>
<a [routerLink]="'druga'">Druga</a>
<a [routerLink]="'drzave'">Drzave</a> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a [routerLink]="''" class="nav-link">Pocetna</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'druga'" class="nav-link">Druga</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="'drzave'" class="nav-link">Drzave</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="'drzaveForm'" class="nav-link">Drzave forma</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="'drzaveReactive'" class="nav-link">Drzave reaktivna forma</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="'unesi-zaposlenog'" class="nav-link">Unesi zaposlenog</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="'zaposlenici'" class="nav-link">Lista zaposlenih</a>
    </li>
    </ul>
</nav>