
<app-navigacija></app-navigacija>
<router-outlet></router-outlet> 

<!--<app-pocetna></app-pocetna>  direktno prikazi pocetna komponentu umjesto preko router linka-->

<!--Kad koristimo router-outlet a kad direktno komponente? -> ako nesto zelimo da nam na svakoj stranici stoji, npr navbar i footer, stavicemo direktno na vrhu <app-nav> i na dnu <app-foot>
   a izmedju toga cemo dodati <router-outlet> u kojem ce se dinamicki generisati sadrzaj u zavisnosti koji je navigacijski link tj path korisnik kliknuo-->

<app-footer></app-footer>