<h4>Unesite podatke o novom zaposleniku</h4>

<form [formGroup]="zaposleniForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput type="text" placeholder="Unesite ime i prezime zaposlenog" formControlName="ime">
    </mat-form-field>
   
    <mat-form-field>
        <input matInput type="number" placeholder="Unesite godine zaposlenog" formControlName="starost">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput type="text" placeholder="Unesite radno mjesto" formControlName="radnoMjesto">
    </mat-form-field>
  
    <button mat-raised-button color="accent">Spremi</button>
</form>